* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 220%;
    margin: 0;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color:  rgb(248,248,248);
}

/* section { flex-grow: 1 2 1; } */

/* section1 */
.section1 {
    background-color: rgb(248,248,248);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-end;
}

/* section1 header */
header {
    width: 100%;
    height: 125px;
    padding: 1%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    z-index: 9999;
}

.home-rat {
    width: 10%;
    height: 100%;
}

.rat-image {
    width: 100%;
    height: 100%;
}

.home-nav {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-a {
    text-decoration: none;
    color: #31302f;
    margin: 2%;
}

/* section1 welcome */
.welcome {
    width: 100%;
    height: calc(100% - 125px);
    padding: 1%;
    position: relative;
}

/* section1 welcome-text */
.welcome-text {
    width: 40%;
    position: absolute;
    top: 15%;
    left: 8%;
}

.welcome-text-title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3em;
    margin-bottom: 12px;
    color: #222;
    font-weight: 400;
}

.welcome-text-body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3em;
    margin: 0;
    color: #222;
    font-weight: 400
}

.welcome-text-love {
    color: #cba0aa;
    text-decoration: none;
}

.welcome-text-love:hover {
    background-color: #faca0c;
    transition: 2s ease;
}

/* section1 welcome-image */
.welcome-image {
    width: 30%;
    height: 60%;
    position: absolute;
    top: 5%;
    right: 8%;
    border: 1px solid gray;
    border-radius: 50%;
}

.welcome-image-me {
    width: 100%;
    height: 100%;
}


/* section2 */
.section2 {
    width: 100%;
    position: relative;
    flex-grow: 2;
}    

.section2-background {
    width: 95%;
    height: 60%;
    background-color: rgb(245,242,240);
    position: absolute;
    top: 0;
    left: 0;
}

.work {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* section2 main */
main.cards {
    width: 75%;
    height: 85%;
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cards-a {
    width: 47%;
    height: 45%;
    position: relative;
    background-color: #fff;
    overflow: hidden;
    backface-visibility: hidden;
    text-decoration: none;
    color: #31302f;
    transition: transform .3s ease, box-shadow .3s ease;
}

.cards-a:hover {
    transform: scale( 1.02 );
    box-shadow: 0px 15px 50px  hsla(0, 0%, 0%, 0.1);
    
}

.card-2 {
    margin-bottom: 7%;
}

.card-3 {
    margin-top: 7%;
}

/* section2 main card */
.card-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* section2 main card image */
.card-wrap-image {
    width: 100%;
    height: 80%;
}

.card-wrap-image-in {
    width: 100%;
    height: 100%;
}

/* section2 main card description */
.card-wrap-bottom-description {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-wrap-bottom-description-wrap {
    width: 80%;
    height: 90%;
    
}

.card-description-title {
    color: #222;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    margin: 3%;
}

.card-description-body {
    color: #7f7871;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 3%;
}

/* section3 */
.section3 {
    background-color: rgb(248,248,248);
    flex-grow: 1;
    position: relative;
}

.section3-background {
    width: 95%;
    height: 100%;
    background-color: rgb(245,242,240);
    position: absolute;
    top: 0;
    left: 0;
}

/* section3 about */
.about {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* section3 about hobbies */
.hobbies {
    width: 75%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hobby {
    width: 47%;
    height: 50%;
}

.hobby-title {
    font-size: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #8c8075;
    font-weight: 400;
}

.hobby-body {

}

.hobby-body-text {
    font-size: 1.2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #222;
    font-weight: 400;
}

.hobby-body-text-a {
    color: #cba0aa;
    text-decoration: none;
}

.hobby-body-text-a:hover {
    background-color: #faca0c;
    transition: 2s ease;
}

/* section3 about footer */
footer {
    width: 100%;
    height: 10%;
    border-top: 1px solid gray;
    background-color: rgb(45,45,45);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-contact {
    width: 90%;
    height: 90%;
}

.footer-contact-title {
    background-color: white;
    color: black;
    font-weight: 600;
    margin: 0;
    display: inline-block;
}

.footer-contact-body-text {
    margin: 0;
    color: white;
}

.footer-icon {
    
}

.icon {
    color: white;
}

/* media query */
@media (max-width: 475px) { 
    .welcome {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .welcome-text {
        position: unset;
        order: 1;
        width: 70%;
    }

    .welcome-image {
        position: unset;
        order: 0;
        width: 60%;
        height: 30%;
        border-radius: 50%;
    }

    main.cards {
        flex-wrap: unset;
        align-items: center;
        justify-content: center;
    }

    .cards-a {
        width: 100%;
        height: 100%;
    }

    .card-1 {
        margin-bottom: 7%;
    }

    .card-2 {
        margin-bottom: 7%;
    }
    
    .card-3 {
        margin-top: 0%;
        margin-bottom: 7%;
    }

    .card-wrap-image {
        width: 100%;
        height: 60%;
    }
    
    .card-wrap-bottom-description {
        width: 100%;
        height: 40%;
    }
 }