* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 1800px;
    margin: 0;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(44, 29, 29);;
}

/* section { flex-grow: 1 1 1; } */

/* section1 */
.section1 {
    background-color: rgb(248,248,248);
    display: flex;
    width: 100%;
    height: 500px;
    flex-direction: column;
    justify-content: flex-end;
}

/* section1 header */
header {
    width: 100%;
    height: 125px;
    padding: 1%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    z-index: 9999;
}

.home-rat {
    width: 10%;
    height: 100%;
}

.home-rat:hover {
    transform: scale(0.9);
    transition: transform .5s ease;
}

.rat-image {
    width: 100%;
    height: 100%;
}

.home-nav {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-a {
    text-decoration: none;
    color: #31302f;
    margin: 2%;
}

.nav-a:hover {
    background-color: #faca0c;
    transition: 2s ease;
}

/* section1 welcome */
.welcome {
    width: 100%;
    /* height: calc(100% - 125px); */
    height: 100%;
    position: relative;
}

ul, li {
    list-style: none;
}

.image-slide {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.images {
    width: calc(100% *4);
    height: 100%;
    margin: 0;
    padding: 0;
    display:flex;
    animation:slide 15s infinite;
}

.image-in {width: calc(100% /4);height: 100%;}
.image-slide li:nth-child(1){
    background-image:url(/img/compass-5137269_1280.jpg);
    background-size: cover;
}
.image-slide li:nth-child(2){
    background-image: url(/img/computer-768696_1280.jpg);
    background-size: cover;
}
.image-slide li:nth-child(3){
    background-image: url(/img/knowledge-1052010_1280.jpg);
    background-size: cover;
}
.image-slide li:nth-child(4){
    background-image: url(/img/old-1130731_1280.jpg);
    background-size: cover;
}

@keyframes slide {
    0% {margin-left:0;} /* 0 ~ 10  : 정지 */
    10% {margin-left:0;} /* 10 ~ 25 : 변이 */
    25% {margin-left:-100%;} /* 25 ~ 35 : 정지 */
    35% {margin-left:-100%;} /* 35 ~ 50 : 변이 */
    50% {margin-left:-200%;}
    60% {margin-left:-200%;}
    75% {margin-left:-300%;}
    85% {margin-left:-300%;}
    100% {margin-left:0;}
}

/* section2 */
.section2 {
    width: 100%;
    position: relative;
    height: 1100px;
}    

.text-slide {
    width: 100%;
    height: 60px;
    background-color: white;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texts {
    position:relative;height:100%;width: 95%;
    border-bottom: 1px solid black;
}

.text-in {
    position:absolute;left:0;right:0;top:0;bottom:0;opacity:0;animation:fade 8s infinite;
}

.text-slide li:nth-child(1){animation-delay:0s}
.text-slide li:nth-child(2){animation-delay:2s}
.text-slide li:nth-child(3){animation-delay:4s}
.text-slide li:nth-child(4){animation-delay:6s}

.text-p {
    font-size: 1.5em;
    margin: 1%;
}

@keyframes fade {
    0% {opacity:0;}
    5% {opacity:1;}
    25% {opacity:1;}
    30% {opacity:0;}
    100% {opacity:0;}
  }

/* section2 cards */
.cards-layout {
    width: 100%;
    height: calc(100% - 60px);
    background-color: rgb(248,248,248);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards {
    width: 95%;
    height: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width: 32%;
    height: 48.5%;
    border: 1px solid gray;
    position: relative;
}

.card-blank {
    background-color: powderblue;
}

.card-in {
    width: 100%;
    height: 100%;
}

.card-in-text {
    position: absolute;
    bottom: 0;
    left: 2%;
    opacity: 0;
    transition: 0.6s;
}

.card:hover .card-in-text {
    opacity: 1;
}

.card-in-text-h2 {
    text-decoration: underline;
    margin-bottom: 0;
}

.card-in-text-p {
    margin-top: 0;
}

.card-in-text-white {
    color: white;
}
/* section3 */
.section3 {
    width: 100%;
    height: 200px;
    background-color: rgb(248,248,248);
    position: relative;
    display: flex;
    flex-direction: column;
}

/* section3 footer */
.section3-blank {
    width: 100%;
    height: 50%;
}

footer {
    width: 100%;
    height: 50%;
    border-top: 1px solid gray;
    background-color: rgb(45,45,45);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-contact {
    width: 90%;
    height: 90%;
}

.footer-contact-title {
    background-color: white;
    color: black;
    font-weight: 600;
    margin: 0;
    display: inline-block;
}

.footer-contact-body-text {
    margin: 0;
    color: white;
}

.footer-icon {
    
}

.icon {
    color: white;
}


/* media query */
@media (max-width: 1300px) { 
    .text-slide {
        height:40px;
    }

    .text-p {
        font-size: 1.2em;
        margin: 0.6%;
    }

    .cards-layout {
        height: calc(100% - 40px);
    }
    .cards {
        padding-top: 2%;
        padding-bottom: 2%;
    }
    
    .card {
        width: 49%;
        height: 32%;
    }
}

@media (max-width: 475px) { 
    .section1 {
        flex-grow: 0.3;
    }

    .section2 {
        flex-grow: 1.4;
    }

    .text-slide {
        height:30px;
    }

    .text-p {
        font-size: 0.5em;
        margin: 0.4%;
    }

    .cards-layout {
        height: calc(100% - 30px);
    }
    .cards {
        align-content: center;
        padding-top: 2%;
        padding-bottom: 2%;
    }
    
    .card {
        width: 100%;
        height: 16%;
    }

    .section3 {
        height: 100px;
    }

    .section3-blank {
        width: 100%;
        height: 0;
    }
    
    footer {
        width: 100%;
        height: 100%;
        border-top: 1px solid gray;
        background-color: rgb(45,45,45);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}